# Auto detect text files and perform LF normalization
* text=auto

# Ignore .yy files for language statistics 
*.yy linguist-generated=true

# Do not change line endings
*.gml text eol=lf
*.yy text eol=lf
*.yyp text eol=lf
*.vsh text eol=lf
*.fsh text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.txt text eol=lf
.gitattributes text eol=lf
